[galera]
# Mandatory settings
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_address=gcomm://galera-master-node-1,galera-master-node-2,galera-master-node-3
binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2