HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

## galera cluster - mariadb node volumes
infra/mariadb/master-1/volume
!infra/mariadb/master-1/volume/.gitkeep

infra/mariadb/master-2/volume
!infra/mariadb/master-2/volume/.gitkeep

infra/mariadb/master-3/volume
!infra/mariadb/master-3/volume/.gitkeep

